<html>

<body bgcolor="#222426">

	<head>
	<title>Qmining - 404</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Overpass+Mono:wght@300;400&display=swap');
			body {
				text-align: center;
				font-family: 'Kameron', serif;
				font-family: 'Overpass Mono', monospace;
				color: #999999;
			}
			h2 {
				margin-bottom: 0px;
				padding-top: 40px;
				font-size: 75px;
			}
			p {
				font-size: 25px;
			}
			a, a:visited {
				text-decoration: none;
				font-size: 14px;
				color: inherit;
			}
			a:hover {
				color: white;
			}
			img {
				width: 30%;
				padding-top: 35px;
				padding-bottom: 30px;
			}
		</style>
	</head>
	<h2>Oops...</h2>
	<center>
		<img src="/img/frylabs-404-cut.jpg" alt="FryLabs 404">
	</center>
	<p>Az oldal, amit kerestél úgy tűnik, hogy nem létezik!</p>
	<a href="/">&#171;&#171; Visszatérés a főoldalra</a>
</body>

</html>
